body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.MuiDataGrid-row:nth-child(even) {
  background-color: #BEE1EE !important;
}

.MuiDataGrid-row:nth-child(odd) {
  background-color: #FFF9D2 !important;
}

.css-rtrcn9-MuiTablePagination-root .MuiTablePagination-selectLabel,
.css-levciy-MuiTablePagination-displayedRows {
  margin-top: 15px !important;
}


.container {
  padding: 30px;
}

.row {
  margin: 20px;
}